@import 'tailwindcss/base';
@import 'tailwindcss/utilities';
@import 'tailwindcss/components';

@media(max-width: 1080px) {
  html {
    font-size: 93.75%;  // 15px
  }
}

@media(max-width: 728px) {
  html {
    font-size: 87.5%  // 15px
  }
}

@media (max-width: 1366px) {
  html {
    font-size: 80%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 500 1rem "Inter";
  // font: 500 1rem "Inter" sans-serif;
}

html,
body {
  background: var(--gray-50);
}

body, input, textarea, button {
  color: var(--gray-500);
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: "Lexend", sans-serif;
  color: var(--gray-600);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  cursor: pointer;
}

button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
